<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bukanir.android"
    android:installLocation="auto" >

    <supports-screens
        android:anyDensity="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.bukanir.android.activities.MoviesListActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.bukanir.android.activities.SearchActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden"
            android:parentActivityName="com.bukanir.android.activities.MoviesListActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                android:value="com.bukanir.android.activities.SearchActivity" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bukanir.android.activities.MoviesListActivity" />
        </activity>

        <activity
            android:name="com.bukanir.android.activities.MovieActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden"
            android:label="@string/app_name" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bukanir.android.activities.MoviesListActivity" />
        </activity>

        <service
            android:name="com.bukanir.android.services.Torrent2HttpService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <service
            android:name=".services.BukanirHttpService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name="com.bukanir.android.activities.PlayerActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>

        <activity
            android:name="com.bukanir.android.activities.SettingsActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.thinkfree.showlicense.android.LicenseListActivity"
            android:label="@string/app_name" >
        </activity>

        <provider android:name="com.bukanir.android.SuggestionProvider"
            android:authorities="com.bukanir.android.SuggestionProvider" />

    </application>

</manifest>
